absl-py==1.4.0
ai-edge-litert==1.1.0
astunparse==1.6.3
attrs==25.1.0
bleach==6.2.0
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.11
dm-tree==0.1.9
docstring_parser==0.16
etils==1.11.0
flatbuffers==25.1.24
fonttools==4.55.8
fsspec==2025.2.0
gast==0.6.0
gin-config==0.5.0
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
googleapis-common-protos==1.66.0
grpcio==1.70.0
h5py==3.12.1
httplib2==0.22.0
idna==3.10
immutabledict==4.2.1
importlib_resources==6.5.2
jax==0.4.20
jaxlib==0.4.20
joblib==1.4.2
kaggle==1.6.17
keras==2.15.0
kiwisolver==1.4.8
libclang==18.1.1
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mdurl==0.1.2
mediapipe==0.10.20
mediapipe-model-maker==0.2.1.3
ml-dtypes==0.2.0
namex==0.0.8
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
optree==0.14.0
packaging==24.2
pandas==2.2.3
pillow==11.1.0
portalocker==3.1.1
promise==2.3
proto-plus==1.26.0
protobuf==4.25.6
psutil==6.1.1
py-cpuinfo==9.0.0
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycocotools==2.0.8
pycparser==2.22
Pygments==2.19.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2025.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
rsa==4.9
sacrebleu==2.5.1
scikit-learn==1.6.1
scipy==1.15.1
sentencepiece==0.2.0
seqeval==1.2.2
simple-parsing==0.1.7
six==1.17.0
sounddevice==0.5.1
tabulate==0.9.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-addons==0.21.0
tensorflow-datasets==4.9.7
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-macos==2.15.0
tensorflow-metadata==1.13.1
tensorflow-model-optimization==0.8.0
tensorflow-text==2.18.1
termcolor==2.5.0
text-unidecode==1.3
tf-models-official==2.18.0
tf-slim==1.1.0
tf_keras==2.18.0
threadpoolctl==3.5.0
toml==0.10.2
tqdm==4.67.1
typeguard==2.13.3
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.3.0
webencodings==0.5.1
Werkzeug==3.1.3
wrapt==1.14.1
zipp==3.21.0
